@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.footer-table-text
  {
    color: #c3c3c3;
      text-decoration: none;
        font-size: 30px;
          font-family: 'Oswald', sans-serif;
        }

.footer-table-text:hover
  {
    color: ffffff;
  }

.footer-table-text2
  {
    color: #1D1D1F;
      text-decoration: none;
        font-size: 30px;
          font-family: 'Oswald', sans-serif;
        }

.footer-table
  {
    width: 100%;
      background-color: #1D1D1F;
        border-radius: 20px 20px 0px 0px;
text-align: center;
      }