@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

header nav
  {
    background-color: #ffffff; 
      overflow: hidden;
    }

header nav ul
  {
    list-style: none;
  }

header nav ul li
  {
    float: left; 
  }

header nav ul li a 
  {
    padding: 10px 20px;
      display: block;
        color: #575757;
          text-decoration: none;
            font-size: 35px;
              font-family: 'Oswald', sans-serif;
            }

header nav ul li a:hover
  {
    color: #000000;
  }